<section class="testymonial my-5">
  <div class="text-center py-4">
    <h2 class="position-relative">
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="position-absolute line-one"
      >
        <line
          x1="1"
          y1="-1"
          x2="44.2548"
          y2="-1"
          transform="matrix(-0.707107 0.707107 0.707107 0.707107 33 1)"
          stroke="#6D91EE"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>

      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="position-absolute line-two"
      >
        <line
          x1="31.5858"
          y1="32"
          x2="1"
          y2="1.41421"
          stroke="#6D91EE"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>

      Testymonials

      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="position-absolute line-three"
      >
        <line
          x1="1.41421"
          y1="1"
          x2="32"
          y2="31.5858"
          stroke="#6D91EE"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>

      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="position-absolute line-four"
      >
        <line
          x1="1"
          y1="-1"
          x2="44.2548"
          y2="-1"
          transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 0 32)"
          stroke="#6D91EE"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </h2>
  </div>

  <div class="container">
    <div class="row mx-auto">
      <div class="col-md-12 col-lg-6">
        <div class="card mb-3 mx-auto rounded-4" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="./assets/imags/2e8d8e4f5e65a3d48109b8bdbea95a8b.png"
                class="img-fluid rounded-circle w-75 p-2 ms-3"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Courtney Henry</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="icons d-flex gap-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6">
        <div class="card mb-3 mx-auto rounded-4" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="./assets/imags/2e8d8e4f5e65a3d48109b8bdbea95a8b.png"
                class="img-fluid rounded-circle w-75 p-2 ms-3"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Courtney Henry</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="icons d-flex gap-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6">
        <div class="card mb-3 mx-auto rounded-4" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="./assets/imags/2e8d8e4f5e65a3d48109b8bdbea95a8b.png"
                class="img-fluid rounded-circle w-75 p-2 ms-3"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Courtney Henry</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="icons d-flex gap-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6">
        <div class="card mb-3 mx-auto rounded-4" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="./assets/imags/2e8d8e4f5e65a3d48109b8bdbea95a8b.png"
                class="img-fluid rounded-circle w-75 p-2 ms-3"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Courtney Henry</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="icons d-flex gap-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
