<section id="about" class="py-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-6 side-one">
        <div class="p-5 me-3">
          <h3 class="a-head">About Us</h3>
          <p class="p-side-one">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an
          </p>
          <img
            src="./assets/imags/fd6f05b7e4f0277ac5571d9a15a12ddb.png"
            alt=""
            class="w-50 rounded-3"
          />
        </div>
      </div>

      <div class="col-md-12 col-lg-6 side-two">
        <div class="p-5 me-5">
          <h3 class="w-head">Where</h3>
          <p class="p-side-two">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <button class="btn rounded-5 help-btn px-5 py-2 mb-3">Help Me</button>
    </div>
  </div>
</section>
