<section id="service" class="my-5">
  <div class="text-center py-4">
    <h2 class="position-relative">
      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="position-absolute line-one"
      >
        <line
          x1="1"
          y1="-1"
          x2="44.2548"
          y2="-1"
          transform="matrix(-0.707107 0.707107 0.707107 0.707107 33 1)"
          stroke="#6D91EE"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>

      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="position-absolute line-two"
      >
        <line
          x1="31.5858"
          y1="32"
          x2="1"
          y2="1.41421"
          stroke="#6D91EE"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>

      Services

      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="position-absolute line-three"
      >
        <line
          x1="1.41421"
          y1="1"
          x2="32"
          y2="31.5858"
          stroke="#6D91EE"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>

      <svg
        width="33"
        height="33"
        viewBox="0 0 33 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="position-absolute line-four"
      >
        <line
          x1="1"
          y1="-1"
          x2="44.2548"
          y2="-1"
          transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 0 32)"
          stroke="#6D91EE"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </h2>
  </div>

  <div class="container">
    <div class="row justify-content-evenly gy-4">
      <div class="col-md-6 col-lg-4">
        <div>
          <div class="card rounded-4 overflow-hidden">
            <img
              src="./assets/imags/b51e46d3d5bb005d1e122864372c48f7.png"
              class="card-img-top"
              height="234"
            />
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <p class="card-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div>
          <div class="card rounded-4 overflow-hidden">
            <img
              src="./assets/imags/fba758a9dda73825ff383b42c06233e8.png"
              class="card-img-top"
              height="234"
            />
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <p class="card-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div>
          <div class="card rounded-4 overflow-hidden">
            <img
              src="./assets/imags/Rectangle 250.png"
              class="card-img-top w-100"
              height="234"
            />
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <p class="card-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <app-help-btn></app-help-btn>
    </div>
  </div>
</section>
